* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: rgb(209, 47, 79);
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}

.logo {
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}

span {
	color: var(--main-color);
}

.navlist {
	display: flex;
}

.navlist a {
	color: var(--second-color);
	font-size: 23px;
	font-weight: 500;
	margin: 0 46px;
	transition: all .45s ease;
}

.navlist a:hover {
	color: var(--main-color);
}

.navlist a.active {
	color: var(--main-color);
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

.user img {
	height: 22rem;
	width: 21rem;
	border-radius: 50%;
	object-fit: cover;

}

.portfolio,
.skills {
	padding: 100px 15% 120px;
}
.about{
	padding: 50px 15% 120px;
}
.education{
	padding: 10px 10% 120px;
}

section {
	padding: 182px 15% 120px;
}



.slide {
	margin-bottom: 20px;
}

.one {
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 30px;
	font-weight: 500;
	border-radius: 5px;
	background: var(--main-color);
	color: var(--text-color);
}

.two {
	display: inline-block;
	color: var(--second-color);
	font-size: 30px;
	font-weight: 500;
}

.home-text h1 {
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}

.home-text h3 {
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}

.home-text p {
	color: var(--second-color);
	font-size: 24px;
	line-height: 1.8;
	margin-bottom: 40px;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn {
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 2rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}

.btn:hover {
	transform: scale(0.9);
}

.btn2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 35px;
}

.btn2 span i {
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}

.btn2 span i:hover {
	transform: scale(1.1) translateY(5px);
}

header.sticky {
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.my-img {
	display: flex;
	margin-left: 859px;
	margin-top: -400px;

}

.my-img img {

	height: 22rem;
	width: 21rem;
	border-radius: 50%;
	object-fit: cover;

	border: 5px solid rgb(209, 47, 79);;
}


.about .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 2rem;
}

.about .row .info-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
}

.about .row .info-container h1 {
	font-size: 2rem;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.about .row .info-container .box-container {
	padding: 1rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 2rem;
}

.about .row .info-container .box-container .box {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20rem;
	flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
	font-size: 1.7rem;
	color: #fff;
	padding: 0rem 0;
	font-weight: normal;
}

.about .row .info-container .box-container .box h3 span {
	color: #aaa;
	font-weight: lighter;
}

.about .row .count-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 2rem;
}

.about .row .count-container .box {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20rem;
	flex: 1 1 20rem;
	padding: 3rem 4rem;
	border-radius: .5rem;
	background: #1a1a1a;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.about .row .count-container .box h3 {
	font-size: 5rem;
	color: rgb(209, 47, 79);
}
#dow{
	margin-top: -33px;
}

.about .heading {
	text-align: center;
	font-size: var(--h2-font);
	line-height: 3;
}

.about .row .count-container .box p {
	font-size: 2rem;
	color: #aaa;
}


.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: -40px 0px 1px 3px;
}

.education .box-container .box{
    width:21rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}
.education .heading {
	text-align: center;
	font-size: var(--h2-font);
	line-height: 5;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 0rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background: rgb(209, 47, 79);;
}

.skills .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1.5rem;
}

.skills .box-container .box {
	padding: 2rem;
	text-align: center;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
	border-radius: .5rem;
	background: #1a1a1a;
}

.skills .heading {
	text-align: center;
	font-size: var(--h2-font);
	line-height: 3;
}

.skills .box-container .box:hover {
	background: #fff;
}

.skills .box-container .box:hover h3 {
	color: #0d0d0d;
}

.skills .box-container .box img {
	height: 7rem;
	margin-bottom: 1rem;
}

.skills .box-container .box h3 {
	color: #fff;
	font-size: 1.7rem;
	font-weight: normal;
	text-transform: uppercase;
}

.skills {
	background: var(--second-bg-color);
}

.main-text {
	text-align: center;
}

.main-text p {
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.main-text h2 {
	font-size: var(--h2-font);
	line-height: 1;
}

.services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.box {
	background: var(--bg-color);
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}

.s-icons i {
	font-size: 32px;
	margin-bottom: 20px;
}

.box h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 15px;
}

.box p {
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}

.read {
	display: inline-block;
	padding: 8px 18px;
	background: #333333;
	color: var(--second-color);
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
}

.read:hover {
	letter-spacing: 1px;
	background: #ffffff99;
	color: var(--text-color);
}

.box:hover {
	transform: translateY(-8px);
	cursor: pointer;
}

.portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.row {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}

.row img {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #fff;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 40px;
	transition: height 0.5s;
}

.layer h5 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.layer p {
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}

.layer i {
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.row:hover img {
	transform: scale(1.1);
}

.row:hover .layer {
	height: 100%;
}

.contact {
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact-text h4 {
	color: var(--text-color);
	margin: 18px 0;
	font-size: 24px;
	font-weight: 600;
}

.contact-text h2 {
	font-size: var(--h2-font);
	line-height: 1;
}

.contact-text p {
	color: var(--second-color);
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 30px;
}

.list {
	margin-bottom: 2.8rem;
}

.list li {
	margin-bottom: 12px;
}

.list li a {
	display: block;
	color: var(--second-color);
	font-size: 18px;
	transition: all .45s ease;
}

.list li a:hover {
	color: var(--text-color);
	transform: translateX(5px);
}

.contact-icons i {
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 20px;
	transition: all .45s ease;
}
.list i {
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 20px;
	transition: all .45s ease;
}

.contact-icons i:hover {
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form {
	position: relative;
}

.contact-form form input,
form textarea {
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.contact-form textarea {
	resize: none;
	height: 240px;
}

.contact-form .submit {
	display: inline-block;
	font-size: 20px;
	background: var(--main-color);
	color: var(--text-color);
	width: 171px;
	transition: all .45s ease;
}

.contact-form .submit:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.end {
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}

.last-text p {
	color: var(--second-color);
	font-size: 14px;
}

.top i {
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
}
.list a{
	color: #fff;
}


@media (max-width: 1480px) {
	header {
		padding: 12px 2.5%;
		transition: .1s;
	}

	header.sticky {
		padding: 10px 2.5%;
		transition: .1s;
		;
	}

	section {
		padding: 110px 3% 60px;
	}

	.end {
		padding: 15px 3%;
	}
}

@media (max-width: 1100px) {
	:root {
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .1s;
	}

	.home-text h3 {
		font-size: 2.5rem;
	}

	.home {
		height: 87vh;
	}
}

@media (max-width: 920px) {
	.about {
		grid-template-columns: 1fr;
	}

	.about-img {
		text-align: center;
		order: 2;
	}

	.about-img img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	.contact {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 840px) {
	#menu-icon {
		display: block;
	}

	.navlist {
		position: absolute;
		top: -1000px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}

	.navlist a {
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
	}

	.navlist a:hover {
		color: var(--main-color);
	}

	.navlist a.active {
		color: var(--text-color);
	}

	.navlist.open {
		top: 100%;
	}
}